<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Tutorial Organizers </h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        
        <div class="row">

            <div class="col-sm-2">
                &nbsp;
            </div>
             
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/andreea_iana.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://andreeaiana.github.io/">Andreea Iana</a></h4>
        <p class="text-muted">Data and Web Science, University of Mannheim</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/goran_glavas.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://sites.google.com/view/goranglavas">Goran Glavaš</a></h4>
        <p class="text-muted">CAIDAS, University of Würzburg</p>
    </div>
</div>



        
    </div>
</section>
