<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
</style>
<section id="schedule" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <table style="width: 100%">
        <tr> <th width=130px> Time </th> <th width=400px> Section </th> <th width=150px> Presenter </th> </tr>

    </table>
  </div>
</section>
